@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html,
body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body>main {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 100%;
}

body>main>div.panelWrapper {
    top: 155px;
    position: absolute;
    left: 150px;
}

body>main>div.panelWrapper > canvas {

}

header {
    height: 150px;
    /*
     * Created with https://www.css-gradient.com
     * Gradient link: https://www.css-gradient.com/?c1=f220a3&c2=4d1dbc&gt=l&gd=dtl
     */
    background: #F220A3;
    background: linear-gradient(135deg, #F220A3, #4D1DBC);
    position: absolute;
    width: 100%;
    box-shadow: 0px 1px 1px 1px black;
    border-radius: 15px;
    opacity: .95;
}

header>h1 {
    left: 150px;
    position: relative;
    font-size: 50px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

a.btn {
    position: relative;
    top: 185px;
    padding-top:5px;
    padding-bottom:15px;
    padding-left: 55px;
    padding-right:55px;
    border: 1px solid #F220A3;
    color: white;
    text-decoration: none;
    background: #F220A3;
    font-size: 35px;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px gray;
    font-family: 'Noto Sans KR', sans-serif;
}

a.btn#reset {
    left: 50px;
}

a.btn:hover {
    opacity: .8;
    box-shadow: 0px 0px 0px 0px white;
}

a.btn#save {
    left: 85px;
    background: #4D1DBC;
    border: 1px solid #4D1DBC;
}

a.btn#erase {
    left: 120px;
    background: #F220A3;
    border: 1px solid #F220A3;
}